In [10]:
# calculate area of a traingle
h = 20
b = 10
area = 1/2 * b * h
print(area)

100.0

f string

In [9]:
#calculate area of a traingle
h=20
b=10
area = 1/2 * b * h

print("the area is:", 1/2 * b * h)
print(f"the area is:{1/2 * b * h}")

the area is: 100.0
the area is:100.0

list and indexing

In [11]:
marks=[70,85,90]
print(marks[2])

90

conditional statement (if-else, if-elif-else, nested)

In [13]:
age =50
if(age>18):
  print("you can drive")
else:
  print("you csn't0")

you can drive

In [15]:
#large among three nimbers
a,b,c = 10,50,45
if(a>b and a>c):
  print("a is largest")
elif(b>a and b>c):
  print("b is largest")
else:
  print("c is largest")

b is largest

**modules**
A pythoon file(various functions)

In [18]:
# current date time
import datetime
a= datetime.datetime.now()
print(f"date and time:{a}")

date and time:2026-02-18 06:37:04.700096

In [20]:
import math
print(math.sqrt(16))
print(math.pow(2,4))
print(math.pi)
print(max(14,65,6165,4))

4.0
16.0
3.141592653589793
6165

Loops: for ,while

In [25]:
#using for loop(1-10)
for i in range(1,11):
  print(i)
#using for loop(3-10)
for i in range(3,11):
  print(i)


#nested loop
for i in range(1,5,6):
  print(i)
  for i in range(1,5,6):
   print(i)
   for i in range(1,5,6):
    print(i)

1
2
3
4
5
6
7
8
9
10
3
4
5
6
7
8
9
10
1
1
1

string & methods

In [29]:
name = "aredent"
print(name)
print(name.upper())
print(name.lower())
print(name.index("d"))

aredent
AREDENT
aredent
3

Functions user defined

In [33]:
#functions to caculate average
def avg(phy,che,math,bio):
  return(phy+che+math)/4
print(avg(50,60,80,70))

47.5